
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Paisajes de Chile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Desierto de Atacama</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img class="formatted-image" src="assets/paisajes/atacama.jpg" alt="Desierto de Atacama">
      <p>El Desierto de Atacama es uno de los desiertos más áridos del mundo y es conocido por sus paisajes únicos y cielos despejados.</p>
      <ion-button class="animated-button btn" [@pulseAnimation]="true" (click)="comprarPostal()" color="danger">Comprar Postal</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Patagonia Chilena</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img class="formatted-image" src="assets/paisajes/patagonia.jpg" alt="Patagonia Chilena">
      <p>La Patagonia Chilena ofrece impresionantes glaciares, montañas majestuosas y una rica biodiversidad.</p>
      <ion-button class="animated-button btn" [@pulseAnimation]="true" (click)="comprarPostal()" color="danger">Comprar Postal</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Valle de Elqui</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img class="formatted-image" src="assets/paisajes/elqui.jpg" alt="Valle de Elqui">
      <p>El Valle de Elqui es conocido por su hermoso cielo estrellado, viñedos y paisajes tranquilos.</p>
      <ion-button class="animated-button btn" [@pulseAnimation]="true" (click)="comprarPostal()" color="danger">Comprar Postal</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
