
ion-card {
    margin: 20px;
  }
  
  .formatted-image {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    margin-bottom: 20px;
    place-items: center;
  }
  
  ion-card-content p {
    margin-bottom: 10px;
  }
  