<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Términos y Condiciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item-divider color="primary">
    <ion-label><strong>1. Aceptación de los términos</strong></ion-label>
  </ion-item-divider>
  <ion-item>
    <p>Al acceder y utilizar nuestro sitio web MyApp, aceptas estar legalmente vinculado por los siguientes términos y condiciones de uso. Si no estás de acuerdo con alguno de estos términos, no debes usar este sitio.</p>
  </ion-item>
  
  <ion-item-divider color="primary">
    <ion-label><strong>2. Productos y Servicios</strong></ion-label>
  </ion-item-divider>
  <ion-item>
    <p>MyApp ofrece una variedad de postales de paisajes para la venta a través de su plataforma en línea.</p>
    <p>Nos esforzamos por proporcionar descripciones precisas y fotografías de nuestros productos, sin embargo, no garantizamos que los colores o detalles en las imágenes sean completamente precisos.</p>
  </ion-item>

  <ion-item-divider color="primary">
    <ion-label><strong>3. Pedidos y Pagos</strong></ion-label>
  </ion-item-divider>
  <ion-item>
    <p>Para realizar un pedido, debes proporcionar información personal válida y precisa.</p>
    <p>Todos los precios de los productos están en CLP y están sujetos a cambios sin previo aviso.</p>
    <p>El pago se realiza en el momento de la compra a través de métodos de pago seguros disponibles en nuestro sitio web.</p>
  </ion-item>

  <ion-item-divider color="primary">
    <ion-label><strong>4. Envíos y Entregas</strong></ion-label>
  </ion-item-divider>
  <ion-item>
    <p>Nos comprometemos a procesar y enviar tu pedido en el menor tiempo posible después de la confirmación del pago.</p>
    <p>Los tiempos de entrega estimados se indican durante el proceso de compra y pueden variar según tu ubicación.</p>
    <p>No nos hacemos responsables de retrasos en la entrega debido a circunstancias fuera de nuestro control, como huelgas, desastres naturales, etc.</p>
  </ion-item>

  <ion-item-divider color="primary">
    <ion-label><strong>5. Devoluciones y Reembolsos</strong></ion-label>
  </ion-item-divider>
  <ion-item>
    <p>Aceptamos devoluciones dentro de los 10 días posteriores a la entrega del producto, siempre que el artículo esté en su estado original y sin usar.</p>
    <p>Los costos de envío para devoluciones correrán a cargo del cliente, a menos que la devolución sea el resultado de un error por nuestra parte.</p>
    <p>Procesaremos los reembolsos dentro de 10 días hábiles después de recibir y verificar el artículo devuelto.</p>
  </ion-item>

  <ion-item-divider color="primary">
    <ion-label><strong>6. Propiedad Intelectual</strong></ion-label>
  </ion-item-divider>
  <ion-item>
    <p>Todos los contenidos presentes en nuestro sitio web, incluidos textos, imágenes, logotipos y diseños, están protegidos por derechos de autor y otros derechos de propiedad intelectual.</p>
    <p>Está prohibido copiar, reproducir, modificar o distribuir cualquier contenido de este sitio sin nuestro consentimiento explícito por escrito.</p>
  </ion-item>

  <ion-item-divider color="primary">
    <ion-label><strong>7. Privacidad y Seguridad</strong></ion-label>
  </ion-item-divider>
  <ion-item>
    <p>Respetamos tu privacidad y protegemos tus datos personales de acuerdo con nuestra política de privacidad.</p>
    <p>Utilizamos medidas de seguridad adecuadas para proteger la información del cliente contra accesos no autorizados o modificaciones.</p>
  </ion-item>

  <ion-item-divider color="primary">
    <ion-label><strong>8. Modificaciones de los Términos y Condiciones</strong></ion-label>
  </ion-item-divider>
  <ion-item>
    <p>Nos reservamos el derecho de actualizar o modificar estos términos y condiciones en cualquier momento sin previo aviso. Te recomendamos revisar esta página periódicamente para estar al tanto de los cambios.</p>
  </ion-item>

  <ion-item-divider color="primary">
    <ion-label>Al usar nuestro sitio web, aceptas y estás sujeto a los términos y condiciones establecidos en este documento.</ion-label>
  </ion-item-divider>

  <ion-item-divider color="primary">
    <ion-label>Si tienes alguna pregunta o inquietud sobre estos términos y condiciones, no dudes en contactarnos.</ion-label>
  </ion-item-divider>

  <ion-item-divider color="primary">
    <ion-label>Última actualización: 3 de junio de 2024</ion-label>
  </ion-item-divider>

</ion-content>

