<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Bienvenido a MyApp
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content [fullscreen]="true">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Usuario:</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ username ? username : 'Usuario no registrado' }}</p>
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Bienvenidos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        <div>
          <h1></h1>
          
          <img class="formatted-image" src="assets/cobra.jpg" alt="Cobra">
          <p>Para comenzar, selecciona una de las opciones del menú.</p>

        </div>

      </ion-card-content>
    </ion-card>

  </ion-content>


