<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Bienvenido a MyApp
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content [fullscreen]="true">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Usuario:</ion-card-title>
      </ion-card-header>
      <ion-card *ngIf="userService.getUsername()">
        <ion-card-content>
          <p>{{ userService.getUsername() }}</p>
        </ion-card-content>
      </ion-card>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Paisajes de Chile</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div>
          <img class="formatted-image" src="assets/paisajes/chile.jpg" alt="Paisajes de Chile">
          <p>Chile es famoso por sus impresionantes paisajes que incluyen desiertos, montañas, bosques y costas espectaculares.</p>
          <p>Descubre más sobre estos paisajes en nuestra sección dedicada.</p>
          <ion-button [routerLink]="['/paisajes']">Explorar Paisajes</ion-button>
        </div>
      </ion-card-content>
    </ion-card>

  <ion-card *ngIf="weatherData" class="compact-card">
    <ion-card-header>
      <ion-card-title>Últimas actualizaciones del Clima</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ul class="compact-list">
          <li *ngFor="let time of weatherData.time | slice:-5; let i = index">
            <span class="weather-time">{{ time }}:</span>
            <span class="weather-detail">Temp: {{ weatherData.temperature_2m[i] }}°C, Hum: {{ weatherData.relative_humidity_2m[i] }}%, Viento: {{ weatherData.wind_speed_10m[i] }} m/s</span>
          </li>
        </ul>
    </ion-card-content>
  </ion-card>

</ion-content>



