#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.center-text {
  text-align: center; /* Center the text horizontally */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the content vertically */
  align-items: center; /* Center the content horizontally */
  height: 100%; /* Optional: Set a height to the container to enable vertical centering */
  color:aqua;
}

ion-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-button {
  width: 100%;
}


@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 1s ease;
}


.formatted-image {
  max-width: 50%;
  height: auto;
  border-radius: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}


ion-card {
  margin: 20px;
}

.formatted-image {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 20px;
}

ion-card-content p {
  margin-bottom: 10px;
}


.compact-card {
  margin: 10px;
  padding: 10px;
}

.compact-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.compact-list li {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  font-size: 14px;
}

.weather-time {
  font-weight: bold;
}

.weather-detail {
  font-size: 14px;
  margin-left: 5px;
}
