<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>

      <ion-menu-toggle auto-hide="false">
        <ion-item [routerLink]="['/home']">
          <ion-label>Home</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="false">
        <ion-item [routerLink]="['/paisajes']">
          <ion-label>Paisajes</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="false">
        <ion-item [routerLink]="['/mapa']">
          <ion-label>Mapa</ion-label>
        </ion-item>
      </ion-menu-toggle>


      <ion-menu-toggle auto-hide="false">
        <ion-item [routerLink]="['/registro']">
          <ion-label>Registro</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="false">
        <ion-item [routerLink]="['/datos']">
          <ion-label>Actualizar Datos</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="false">
        <ion-item [routerLink]="['/informacion']">
          <ion-label>Términos y Condiciones</ion-label>
        </ion-item>
      </ion-menu-toggle>

    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>